<div class="main-content">
  <div class="card-container">
    <div
      class="card"
      *ngFor="let cityWeather of cityWeatherInfoList"
      [routerLink]="['/details', cityWeather?.name]"
    >
      <div class="city-name">{{ cityWeather?.name }}</div>
      <div class="sub-details">
        <span>Temp: </span>
        <span>{{ cityWeather?.main?.temp }}<span>&#8451;</span></span>
      </div>
      <div class="sub-details">
        <span>Sunrise: </span>
        <span>{{ cityWeather?.sys?.sunrise * 1000 | date: "HH:mm a" }}</span>
      </div>
      <div class="sub-details">
        <span>Sunset: </span>
        <span>{{ cityWeather?.sys?.sunset * 1000 | date: "HH:mm a" }}</span>
      </div>
    </div>
  </div>
</div>
